@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

*{
    font-family: 'Archivo Narrow', sans-serif;
}

.img {
    border: 1px solid black;
    display: inline-block;
    padding: 230px;
    background-image: url('/img/layout/dog.jpeg');
    background-position: center;
}

.form {
    border: 1px solid black;
    display: inline-block;
    height: 460px;
    width: 400px;
    overflow: auto;
    position: fixed;
    background-color: white;
}

.info {
    border: 1px solid black;
    display: inline-block;
    height: 460px;
    width: 400px;
    overflow: auto;
    position: fixed;
    background-color: rgb(168, 230, 221);
}

.container {
    margin-left: 15%;
    margin-top: 5%;
}

.CamposDeTexto {
    margin-left: 115px;
    display: block;
    margin-top: 15px;
}

.CampoDeTexto {
    border-radius: 7px;
    border: 1px solid rgb(12, 0, 54);
    outline-color: rgb(86, 46, 231);
    padding: 5px;
}

body {
    background-color: rgb(27, 0, 77);
}

.CampoDeTexto:focus {
    padding: 7px;
}

.CampoDeTexto::placeholder {
    color: rgb(29, 1, 105);
}

.Botao {
    border-radius: 6px;
    background-color: rgb(2, 63, 2);
    border: 1px double rgb(235, 235, 235);
    color: white;
    height: 30px;
    width: 76px;
}

.BotaoAzul {
    border-radius: 6px;
    background-color: rgb(89, 38, 209);
    border: 1px double rgb(235, 235, 235);
    color: white;
    height: 30px;
    width: 76px;
    margin-top: -5px;
}

.Botao:hover {
    opacity: 0.5;
}

.CampoDoBtn {
    margin-left: 40px;
    display: inline-block;
    margin-top: 10px;
}

.details {
    display: inline-block;
    margin-left: 85px;
}